@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


*{
  margin: 0;
  padding: 0;
} 

.fuente {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  background-color: rgba(207, 4, 48, 0.81);
  text-align: center;
  font-size: 30px;
}

.reserva-boton{
  background-color: rgba(207, 4, 48, 0.2);
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px 10px;
  padding: 5px;
  margin-top: 5px;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  transition: all 0.7s ease;
  position: absolute;
  left: 75%;
  top:6px;
  border: none;
  letter-spacing: 2px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.459);
}

.reserva-boton:hover{
  transform: scale(1.05);
  background-color: white;
}


.fuente2 {
 font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-size: 30px;
}

h2{
    text-align: center;
    font-size: 45px;
    padding: 15px 0; 
    text-decoration: underline;
}


ul{
    text-align: center;
    padding-top: 20px ;
}

div {
    background-color: rgba(207, 4, 48, 0.81);
}

.precio::before {
  content: "$";
}

img{
    height: 80vh;
}

.bebidas{
  height: 100vh;
  padding: 10px 0;
  margin: 5px 0;
  margin-bottom: 5px;
  line-height: 60px;
}